.eventful-label {
  display: block;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #ddddddaa;
  box-shadow: 0 1px 2px #66666666;
  margin: 15px auto;
  min-width: 150px;
  max-width: 300px;
}
.eventful-label:hover {
  background-color: #fff;
}
.eventful-label > span {
  display: inline-block;
  padding: 10px;
}
.eventful-label > .eventful-label-name {
  width: 24px;
}
.eventful-label > .eventful-label-value {
  width: calc(100% - 64px);
}
.eventful-zilla {
  overflow: hidden;
  font-family: 'Zilla Slab', serif;
}
.eventful-calendar {
  display: none;
  min-width: 320px;
  width: 95%;
  max-width: 720px;
  min-height: 320px;
  max-height: 400px;
  height: 50vw;
  margin: 0 auto;
}
.eventful-calendar > header {
  height: 36px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}
.eventful-calendar > header span {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
.eventful-calendar > table {
  width: 100%;
}
.eventful-row {
  height: 40px;
}
.eventful-cell {
  border: 1px #bbb solid;
  background-color: #f8f8f8;
  opacity: 0.8;
  width: 14%;
  vertical-align: top;
  margin: 0;
}
.eventful-cell:not(.blank):hover {
  background-color: #fff;
  opacity: 1;
}
.eventful-cell.blank {
  background-color: #d5d5d5;
}
.eventful-cell.selected {
  opacity: 0.8;
  background-color: #ffaaaa;
}
.eventful-cell.selected:hover {
  opacity: 0.8;
  background-color: #ffaaaa;
}
.eventful-cell-number {
  float: left;
  margin: 0;
  margin-left: 5px;
}
table.eventful {
  user-select: none;
  border: 1px solid #bbb;
  transition: 0.5s;
}
table.eventful:hover {
  box-shadow: 2px 2px 7px #999;
}
table.eventful th {
  text-align: center;
}
.number-input-on-click {
  text-decoration: underline;
}
.number-input {
  -webkit-appearance: none; 
  display: inline;
  outline: 0;
  border: 0;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  min-width: 2ch;
  max-width: 6ch;
  background-color: #ffffff00;
  font-weight: normal;
}
.eventful-numbers {
  grid-template-columns: 1fr 8ch 2ch 8ch 2ch 8ch 1fr;
  justify-items: center;
  justify-content: center;
}
.eventful-numbers > input {
  width: 8ch;
  margin: auto;
  text-decoration: underline;
  border: 0;
  outline: 0;
  background-color: #ffffff00;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .eventful-calendar {
    display: block;
  }
  .eventful-numbers {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .eventful-calendar {
    display: none;
  }
  .eventful-numbers {
    display: grid;
  }
}