/* slider */
.component-slider-svg {
  max-width: 400px;
}
.component-slider-svg text {
  font-size: clamp(var(--body-text-size), calc((525px - 100vw)), var(--h1-font-size));
}
.component-slider-svg .slider-base :is(circle, text, line) {
  stroke: var(--accent-color);
  fill: var(--accent-color);
}
.component-slider-svg .slider-value :is(circle, text, line)  {
  stroke: var(--accent-color);
  fill: var(--accent-color);
}
/* analog clock */
.analog-clock {
  display: inline-block;
  width: min(6vw, 52px);
  margin: auto;
}
.analog-clock :is(circle, line) {
  stroke: var(--font-color);
}
.analog-clock .clock-ticks line {
  stroke: var(--font-color);
  opacity: 0.4;
}
.analog-clock .clock-ticks line:nth-child(3n + 1) {
  stroke: var(--font-color);
  opacity: 1;
}
.analog-clock.large {
  width: min(12vw, 104px);
}
/* number counter */
.number-counter {
  cursor: pointer;
  margin: auto;
  width: min(100%, 100px);
}
.number-counter rect {
  transform-origin: center;
  transition: 0.3s;
  fill-opacity: 0;
  fill: var(--color-1);
  stroke: var(--color-1);
  stroke-width: 0.5;
}
.number-counter text {
  transform-origin: center;
  font-size: 37px;
  transition: 0.3s;
  stroke: var(--color-1);
  fill: var(--color-1);
}
@media (hover: hover) {
  .number-counter:hover rect {
    transform: rotate(9deg);
    fill-opacity: 1;
  }
  .number-counter:hover text {
    transform: scale(1.1);
    stroke: var(--background-color);
    fill: var(--background-color);
  }
}