/* slider */
.component-slider-svg {
  max-width: 500px;
}
.component-slider-svg text {
  font-size: clamp(calc(0.8 * var(--body-text-size)), calc(635px - 100vw), var(--h2-font-size));
}
.component-slider-svg .slider-base :is(circle, text, line) {
  stroke: var(--accent-color);
  fill: var(--accent-color);
}
.component-slider-svg .slider-value :is(circle, text, line)  {
  stroke: var(--accent-color);
  fill: var(--accent-color);
}
/* analog clock */
.analog-clock {
  display: inline-block;
  width: min(6vw, 52px);
  margin: auto;
}
.analog-clock :is(circle, line) {
  stroke: var(--font-color);
}
.analog-clock .clock-ticks line {
  stroke: var(--font-color);
  opacity: 0.4;
}
.analog-clock .clock-ticks line:nth-child(3n + 1) {
  stroke: var(--font-color);
  opacity: 1;
}
.analog-clock.large {
  width: min(12vw, 104px);
}
.analog-clock.xl {
  width: min(18vw, 156px);
}
/* number counter */
.number-counter {
  cursor: pointer;
  margin: auto;
  width: min(100%, 100px);
}
.number-counter rect {
  transform-origin: center;
  transition: 0.3s;
  fill-opacity: 0;
  fill: var(--color-1);
  stroke: var(--color-1);
  stroke-width: 0.5;
}
.number-counter text {
  transform-origin: center;
  font-size: 37px;
  transition: 0.3s;
  stroke: var(--color-1);
  fill: var(--color-1);
}
@media (hover: hover) {
  .number-counter:hover rect {
    transform: rotate(9deg);
    fill-opacity: 1;
  }
  .number-counter:hover text {
    transform: scale(1.1);
    stroke: var(--background-color);
    fill: var(--background-color);
  }
}
/* main card */
.card {
  width: var(--med-width);
  transition: 0.3s;
  margin: var(--body-text-size) auto;
  padding: 1em 0.75em;
  border-radius: 0.75em;
  box-shadow: 0.25em 0.25em 0.5em var(--accent-color);
  border: 1px solid var(--accent-color);
}
.card header {
  cursor: pointer;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "text graphics";
  justify-items: left;
}
.card span {
  cursor: pointer;
}
.card ol {
  grid-area: graphics;
  text-align: right;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card ol li {
  display: inline-block;
  margin: 8px 8px 0 8px;
}
.card.open > header {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--accent-color);
}
.card section {
  transition: 0.7s;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
.card section header {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: var(--body-text-size) 1fr var(--body-text-size);
}
.card section:nth-child(2) {
  transition-delay: 0.2s;
}
.card section:nth-child(3) {
  transition-delay: 0.4s;
}
.card section:nth-child(4) {
  transition-delay: 0.6s;
}
.card section:nth-child(5) {
  transition-delay: 0.8s;
}
.card section:nth-child(6) {
  transition-delay: 1s;
}
.card.open section {
  opacity: 1;
  max-height: none;
  transition: 0;
}
@media (hover: hover) {
  .card, .card :is(h2, svg) {
    transition: 0.3s;
  }
  .card:not(.open):hover {
    background-color: var(--accent-color);
  }
  .card:not(.open):hover :is(h2, svg) {
    filter: invert(1);
  }
}