@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #ffffff;
    --background-color: #030303;
    --nav-background-color: #413a83f2;
    --input-background-color: #ffffff00;
    --input-text-color: #5ed9ff;
    --input-border-color: #438ea5;
    --error-color: rgb(255, 53, 87);
    --accent-color: #a298ff;
    --default-font-weight: 300;
  }
  img {
    filter: invert(1);
  }
}