/*
  import font
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/*
  Declare variables for font color and text sizes
*/
:root {
  /* scalar values */
  --med-width: min(900px, 84vw);
  --transition-speed: 0.3s;
  --invert: 1;
  --default-font-weight: 200;
  --h1-font-size: clamp(1.5rem, 1.7vmax + 0.01rem, 2rem);
  --h2-font-size: clamp(1.25rem, 1.4vmax + 0.01rem, 1.5rem);
  --h3-font-size: clamp(1.125rem, 1.3vmax + 0.01rem, 2rem);
  --body-text-size: clamp(0.9rem, 1vmax + 0.01rem, 1rem);
  /* colors */
  --font-color: #030303;
  --inverse-font-color: #f3f3f3;
  --background-color: #fcfcfc;
  --nav-background-color: #ffffff;
  --input-background-color: #fcfcfc;
  --input-border-color: #999;
  --input-text-color: #030303;
  --error-color: red;
  --error-bg: #ff000011;
  --accent-color: #4b4486;
  --accent-color-half-transparent: #4b448644;
  --accent-color-quarter-transparent: #4b448622;
  --accent-color-transparent: #4b448600;
  --accent-color-light: #aba4d6a0;
  --accent-color-lighter: #aba4d640;
  --button-background-color: #ffffff;
  --button-border-color: #322B6D;
  --article-bg-color-primary: #aba4d660;
  --article-bg-color-secondary: #aba4d630;
  --frozen-color: #333;
}
/*
  reset
*/
body {
  margin: 0;
  padding: 0 0 0 0;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
}
/* 
  default main styling
*/
main {
  display: grid;
  row-gap: var(--body-text-size);
  width: min(84vw, 900px);
  margin: 0 auto;
  padding-top: calc(var(--h1-font-size) / 2);
  padding-bottom: 80px;
}
main > div {
  margin: var(--body-text-size) 0;
}
/* list style */
ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/*
  general image styling
*/
img {
  width: 100%;
  user-select: none;
  filter: drop-shadow(
    0px 0px 4px var(--accent-color-light)
  );
}
/* 
  button styling
*/
button, .button-styling {
  background-color: var(--button-background-color);
  font-family: 'Montserrat', sans-serif;
  font-size: var(--body-text-size);
  user-select: none;
  opacity: 0.7;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  max-width: 30ch;
  height: calc(var(--body-text-size) * 1.5 + 10);
  margin-block: var(--body-text-size);
  border: 1px solid var(--button-border-color);
  border-radius: 5px;
  color: var(--button-text-color);
  font-weight: 200;
  transition: 0.3s;
  box-shadow: 1px 2px 4px var(--accent-color-light);
}
@media (hover: hover) {
  button:hover, .button-styling:hover {
    opacity: 1;
    color: var(--button-background-color);
    background-color: var(--button-border-color);
  }
}
button:first-of-type:not(:last-of-type), button + button:not(:last-of-type) {
  margin-right: 0;
  border-right: 1px solid var(--button-border-color);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
button + button {
  margin-left: 0;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.fake-button {
  margin-top: var(--h2-font-size);
  margin-bottom: var(--h2-font-size); 
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}
/* basic input styling */
input {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border : 1px solid var(--input-border-color);
  padding: 5px;
  border-radius: 7px;
  outline: 0;
}
input:focus {
  border-color: var(--input-text-color);
}
input::placeholder {
  color: var(--input-border-color);
}
.inline-input > input {
  border: 0;
  outline: none;
  margin: 0 0 0 calc(1.5 * var(--body-text-size));
  width: 14ch;
}
.inline-input > input[type="tel"] {
  width: 5ch;
}
.inline-input::before {
  content: "";
  box-shadow: none;
  outline: none;
  position: absolute;
  transform: translate(calc(var(--body-text-size) * .75), calc(var(--body-text-size) / 2));
  width: calc(var(--body-text-size) * .75);
  height: calc(var(--body-text-size) * .75);
  background-size: cover;
  background-image: url('../img/pen-small.png');
  filter: drop-shadow(
    0px 0px 2px #ffffff
  );
}
/*
  helpers
*/
.grid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  max-width: 100%;
}
.grid > * {
  width: 100%;
}
.none {
  display: none !important;
}
/* loading animation - screen freeze */
#loading-animation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: var(--frozen-color);
  opacity: 0.4;
}
/* 
  dont show attributions by default
*/
#attributions {
  display: none;
}
/* 
  registration/login page styling
*/
.phone-number-input {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: calc(var(--body-text-size) / 2);
}
.text-center {
  text-align: center;
}
/* util */
br {
  margin: 0 0 var(--body-text-size) 0;
}
hr {
  margin: calc(var(--body-text-size) / 2) auto;
  width: 25vw;
}
select {
  max-width: 70vw;
}
@media (hover: none) {
  .hide-on-not-hover {
    display: none;
  }
}
@media (hover: hover) {
  .hide-on-hover {
    display: none;
  }
}
@media (min-width: 1100px) {
  .hide-on-large {
    display: none;
  }
}
@media (max-width: 1100px) {
  .hide-on-small {
    display: none;
  }
}