main.view-journal article {
  transition: 0.3s;
  margin: 32px auto;
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px var(--accent-color);
  border: 1px solid var(--accent-color);
}
main.view-journal article header {
  cursor: pointer;
  grid-template-columns: 2fr 3fr;
  justify-items: left;
}
main.view-journal article ol {
  text-align: right;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
main.view-journal article ol li {
  display: inline-block;
  margin: 8px 8px 0 8px;
}
main.view-journal article.open header {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--accent-color);
}
main.view-journal article section {
  transition: 0.7s;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
main.view-journal article section:nth-child(2) {
  transition-delay: 0.2s;
}
main.view-journal article section:nth-child(3) {
  transition-delay: 0.4s;
}
main.view-journal article section:nth-child(4) {
  transition-delay: 0.6s;
}
main.view-journal article section:nth-child(5) {
  transition-delay: 0.8s;
}
main.view-journal article section:nth-child(6) {
  transition-delay: 1s;
}
main.view-journal article.open section {
  opacity: 1;
  max-height: none;
  transition: 0;
}
@media (hover: hover) {
  main.view-journal :is(article, h2, svg) {
    transition: 0.3s;
  }
  main.view-journal article:not(.open):hover {
    background-color: var(--accent-color);
  }
  main.view-journal article:not(.open):hover :is(h2, svg) {
    filter: invert(1);
  }
}