/* new skills */
section.skill-category-container, section.skill-category-container * {
  transition: 0.5s;
}
section.skill-category-container {
  margin: calc(1.5 * var(--h1-font-size)) 0;
  padding-bottom: var(--h1-font-size);
  display: grid;
  gap: var(--body-text-size);
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  box-shadow: 3px 3px 6px var(--accent-color);
}
section.skill-category-container header {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-row: 1 / 4;
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-radius: 8px;
  background-color: var(--accent-color);
}
section.skill-category-container h2 {
  color: var(--background-color);
  font-weight: 400;
}
section.skill-category-container div:nth-child(2n + 5):last-child {
  grid-column: 1 / 3;
  width: 50%;
  margin: auto;
}
section.skill-category-container div {
  user-select: none;
  display: grid;
  align-items: middle;
  justify-content: center;
  text-align: center;
  padding: var(--body-text-size);
  margin-top: calc(3 * var(--body-text-size) / 4);
}
section.skill-category-container:nth-child(2n) header {
  grid-column: 2;
}
section.skill-category-container:hover, section.skill-category-container.open {
  background-color: var(--accent-color);
  box-shadow: 0 0 2px var(--background-color);
}
section.skill-category-container:nth-child(2n + 1):hover header, section.skill-category-container.open:nth-child(2n + 1) header {
  transform: translate(-15px, -15px);
  box-shadow: 1px 1px 5px var(--accent-color),
              2px 2px 6px var(--background-color);
  background-color: var(--background-color);
}
section.skill-category-container:nth-child(2n):hover header, section.skill-category-container.open:nth-child(2n) header {
  transform: translate(15px, -15px);
  box-shadow: -1px 1px 5px var(--accent-color),
              -2px 2px 6px var(--background-color);
  background-color: var(--background-color);
}
section.skill-category-container:hover h2, section.skill-category-container.open h2 {
  color: var(--accent-color);
}
section.skill-category-container:hover div, section.skill-category-container.open div {
  color: var(--background-color);
}
section.skill-category-container div.single-skill {
  display: grid;
  grid-template-columns: var(--body-text-size) 1fr var(--body-text-size);
  gap: var(--body-text-size);
}
section.skill-category-container.open div span {
  color: var(--background-color);
}
section.skill-category-container div.single-skill span:first-child {
  grid-column: 2;
}
section.skill-category-container div.single-skill img {
  filter: invert(1);
  cursor: pointer;
}
/* creating a skill */
.new-skill-form {
  display: grid;
  gap: var(--body-text-size);
  align-items: center;
  transition: 0.3s ease-in-out;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  border-left: 6px solid var(--accent-color);
  padding: 0 max(15%, 25px);
  margin: 25px 0;
}
.new-skill-form:focus-within {
  padding-left: calc(max(15%, 25px) / 2);
  margin-left: calc(max(15%, 25px) / 2);
}
.new-skill-form h3 {
  text-align: center;
  grid-column: 1 / 3;
}
.new-skill-form > div {
  display: grid;
  grid-template-rows: calc(1.5 * var(--body-text-size)) 1fr;
}
.new-skill-form label {
  color: var(--accent-color);
  font-weight: 500;
}
.new-skill-form p {
  margin: 0;
}
.new-skill-form input {
  border: none;
  height: calc(2 * var(--body-text-size));
}
.new-skill-form button {
  margin: auto;
  grid-column: 1 / 3;
}
@media (max-width: 1100px) {
  .new-skill-form {
    grid-template-rows: unset;
    grid-template-columns: 1fr;
  }
  .new-skill-form :is(h3, button) {
    grid-column: 1;
  }
}