svg {
  --color-1: #4b4486;
  --color-1-transparent: #4b448600;
  --color-2: #CA054D;
  --color-3: #80b190;
  --color-4: #daa873;
}
svg text {
  font-size: 27px;
  user-select: none;
  fill: var(--font-color);
}
:where(.one-item) svg text {
  font-size: 16px;
}
@keyframes slideUp {
  0% {
    transform: translateY(-5%) scaleY(0.05);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* dashboard html styling */
main.dashboard * {
  user-select: none;
}
main.dashboard div.row {
  display: grid;
  align-items: center;
}
main.dashboard div.row.one-item {
  grid-template-columns: 1fr;
}
main.dashboard div.row.two-items {
  grid-template-columns: 1fr 1fr;
}
main.dashboard div.row.three-items {
  grid-template-columns: 1fr 1fr 1fr;
}
main.dashboard div.row.four-items {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
main.dashboard figure {
  margin: 0 auto;
  width: min(100%, 750px);
  text-align: center;
}
main.dashboard figure figcaption {
  text-align: center;
  color: var(--accent-color);
  font-size: var(--h3-font-size);
}
main.dashboard img {
  width: min(100%, 32px);
}
/* svg styling */
.time-of-day .bar-chart-bar {
  cursor: pointer;
}
.time-of-day rect {
  transform-origin: bottom;
  animation: slideUp 1.5s;
  fill: var(--accent-color);
}
.time-of-day line {
  stroke: var(--accent-color);
}
div.dashboard > figure {
  margin: 0;
}
div.dashboard > figure > figcaption {
  font-size: var(--h3-font-size);
  text-align: center;
}
text.trendline-1 {
  stroke: var(--color-1);
}
text.trendline-2 {
  stroke: var(--color-2);
}
text.trendline-3 {
  stroke: var(--color-3);
}
text.trendline-4 {
  stroke: var(--color-4);
}
line.trendline-1 {
  stroke: var(--color-1);
}
line.trendline-2 {
  stroke: var(--color-2);
}
line.trendline-3 {
  stroke: var(--color-3);
}
line.trendline-4 {
  stroke: var(--color-4);
}
/* specific to keywords styling */
.keyword-container {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 0;
  overflow: visible;
}
.keyword-search {
  transform: translateY(1vw);
  display: grid;
  grid-template-columns: calc(0.8 * var(--body-text-size)) 1fr calc(0.8 * var(--body-text-size));
  height: calc(1.8 * var(--body-text-size));
  padding: 0;
  border: 1px solid var(--input-border-color);
  border-radius: var(--body-text-size);
  background-color: var(--input-background-color);
  width: min(100%, 22ch);
  padding: 0 2.5%;
}
.keyword-search * {
  margin: 0;
  padding: 0;
}
.keyword-search :is(span, label) {
  display: grid;
  align-items: center;
}
.keyword-search label img {
  width: calc(0.75 * var(--body-text-size));
}
.keyword-search input {
  grid-column: 2;
  border: none;
  width: 80%;
}
.bar-chart-bar rect:first-child {
  fill: var(--color-3);
}
.bar-chart-bar rect:nth-child(2) {
  fill: var(--color-2);
}
.bar-chart-bar rect:nth-child(3) {
  fill: var(--color-1);
}
.bar-chart-text > text:first-child {
  stroke: var(--color-1);
}
.bar-chart-text > text:nth-child(2) {
  stroke: var(--color-2);
}
.bar-chart-text > text:nth-child(3) {
  stroke: var(--color-3);
}
@media (hover: hover) {
  .bar-chart-bar-group + text {
    opacity: 0;
    transition: 0.1s;
  }
  .bar-chart-bar-group:hover + text {
    opacity: 1;
  }
}
@media (hover: none) {
  .bar-chart-bar-label {
    transform: rotate(60deg) scale(0.7) translate(-5%, -5%);
  }
}
/* reset the dashboard layout when on smaller devices */
@media (max-width: 1100px) {
  main.dashboard div.row.one-item {
    grid-template-columns: 1fr;
  }
  main.dashboard div.row.two-items {
    grid-template-columns: 1fr;
  }
  main.dashboard div.row.three-items {
    grid-template-columns: 1fr;
  }
  main.dashboard div.row.four-items {
    grid-template-columns: 1fr 1fr;
  }
  svg text {
    font-size: 24px;
  }
}
/* Single Metrix Graph */
.single-metrix-graph circle {
  transition: 0.3s;
  stroke: var(--color-1);
  stroke-width: 2px;
  fill: var(--color-1-transparent);
  cursor: pointer;
}
.single-metrix-graph circle:hover {
  fill: var(--color-1);
  stroke-width: 0;
}
.single-metrix-graph .single-metrix-axis line {
  stroke: var(--color-1);
  stroke-width: 1px;
}
/* Pie Chart */
.pie-chart :is(.the-pie, .legend) :nth-child(4n + 1) {
  stroke: var(--color-1);
}
.pie-chart :is(.the-pie, .legend) :nth-child(4n + 2) {
  stroke: var(--color-2);
}
.pie-chart :is(.the-pie, .legend) :nth-child(4n + 3) {
  stroke: var(--color-3);
}
.pie-chart :is(.the-pie, .legend) :nth-child(4n) {
  stroke: var(--color-4);
}